extends ../<%= layoutDir %>/<%= layout %>

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var currentPage = <%= name.toLowerCase() %>

block content
  p <%= name.toLowerCase() %> page
